body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,li,dt,dd,a {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Microsoft YaHei";
	font-size: 14px; 
    color: #444444;
}
a {
	text-decoration: none;
    color: #000;
}
a:hover {
	/*color: #00a4ff;*/
}
img,input {
	margin: 0 ;
	border: 0 none;
	outline-style: none;
	border: 0 none;
	vertical-align: middle;
}

.clearfix::before {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.clearfix::after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom:1;
}

/*版心*/
.w {
	width: 1200px;
	margin:0 auto;
}
